html {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    border: goldenrod;
    border: 3px dotted;
    padding: 10px;
}

textarea {
    padding: 10px;
    margin: 20px;
    margin: auto;
}

#note1 {}

#addBtn {
    padding: 2px;
    margin: 4px;
}