html {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    border: goldenrod;
    border: 3px dotted;
    padding: 10px;
}

textarea {
    padding: 10px;
    margin: 20px;
    margin: auto;
}

#entryWrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#note1 {}

#addBtn {
    padding: 2px;
    margin: 8px;
}