html {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    border: goldenrod;
    border: 3px dotted;
    padding: 10px;
    border-radius: 15%;
}

textarea {
    padding: 10px;
    margin: 20px;
    margin: auto;
}

#entryWrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addBtn,
.btn {
    padding: 2px;
    margin: 8px;
    align-items: center;
}

#collection {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.storedNote {
    background-color: burlywood;
    font-family: sans-serif;
    border: black 5px groove;
    border-radius: 30px;
    height: 100px;
    width: 200px;
    text-overflow: ellipsis;
}